Repository michaelayoade/dotmac_framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotmac-admin, @isp-framework-team, @management-platform-team, @platform-architecture-team, @devops-team, @qa-team, @database-team, @security-team, @documentation-team, @frontend-team, @api-team, @business-logic-team

.github/CODEOWNERS:

# DotMac Framework Code Owners
# This file defines who should review code in different parts of the repository

# Global fallback - all files require review
* @dotmac-admin

# Platform-specific ownership
/isp-framework/ @isp-framework-team
/management-platform/ @management-platform-team
/shared/ @platform-architecture-team

# Infrastructure and deployment
/docker-compose*.yml @devops-team @platform-architecture-team
/scripts/ @devops-team @qa-team
/.github/ @devops-team @platform-architecture-team

# Critical configuration files require admin review
docker-compose*.yml @dotmac-admin
.github/workflows/ @dotmac-admin
*/requirements*.txt @dotmac-admin
*/alembic/ @database-team @dotmac-admin
*/migrations/ @database-team @dotmac-admin

# Security-sensitive files
.env* @security-team @dotmac-admin
*/core/security* @security-team
*/core/auth* @security-team

# Documentation
/docs/ @documentation-team
README.md @documentation-team
*.md @documentation-team

# Frontend components
/frontend/ @frontend-team

# Database schemas and models
*/models/ @database-team
*/schemas/ @database-team @api-team
*/alembic/versions/ @database-team

# API endpoints
*/api/ @api-team
*/routers/ @api-team

# Core business logic
*/services/ @business-logic-team
*/modules/ @business-logic-team

# Testing and quality assurance
*/tests/ @qa-team
/scripts/validate_* @qa-team @devops-team
/scripts/container_* @qa-team @devops-team
pytest.ini @qa-team

chore(hooks): decouple DRY hooks from Poetry; add wrappers and standards template (disabled)
  .pre-commit-config.yaml
  .service-standards.json
  tools/enforce_patterns.py
  tools/run_dry_validation.py
Owners: @dotmac-admin

fix(api): layered approach to resolve FastAPI dependency issues
  .dev-artifacts/test_minimal_router.py
  src/dotmac_management/api/v1/__init__.py
  src/dotmac_management/api/v1/commission_config.py
  src/dotmac_management/api/v1/commissions.py
  src/dotmac_management/api/v1/onboarding.py
  src/dotmac_management/models/__init__.py
  src/dotmac_management/repositories/base.py
  src/dotmac_shared/api/dependencies.py
Owners: @dotmac-admin

fix(ci): resolve CI/CD pipeline failures with comprehensive monitoring overhaul
  .github/workflows/ci.yml
  src/dotmac_shared/observability/cache_task_monitoring.py
  src/dotmac_shared/observability/enhanced_business_metrics.py
  src/dotmac_shared/observability/sla_monitoring.py
Owners: @dotmac-admin

Enhance CI/CD workflow with robust Poetry integration
  .dev-artifacts/migration/migration_examples.py
  .github/workflows/main-ci.yml
  .github/workflows/security-scan.yml
  COOLIFY_PRODUCTION_DEPLOYMENT.md
  SECURITY.md
  docker-compose.coolify.yml
  k8s/base/secrets.yaml
  packages/dotmac-websockets/examples/advanced_features.py
  packages/dotmac-websockets/examples/client_test.py
  scripts/security_validation.py
  src/dotmac_shared/__init__.py
  src/dotmac_shared/tasks/workflow.py
Owners: @dotmac-admin, @documentation-team, @devops-team, @qa-team

fix: resolve CI/CD pipeline failures
  .dev-artifacts/scripts/setup_github_secrets.md
  .dev-artifacts/scripts/setup_secrets.sh
  .github/workflows/main-ci.yml
  .github/workflows/security-scan.yml
  frontend/pnpm-lock.yaml
  frontend/shared/packages/patterns/package.json
  packages/dotmac-websockets/examples/advanced_features.py
  packages/dotmac-websockets/examples/client_test.py
Owners: @documentation-team, @dotmac-admin, @frontend-team

fix(ci): simplify secret scanning with temporary script approach
  .github/workflows/main-ci.yml
Owners: @dotmac-admin

cleanup: remove development artifacts after CI workflow fixes
  .dev-artifacts/scripts/setup_github_secrets.md
  .dev-artifacts/scripts/setup_secrets.sh
Owners: @documentation-team, @dotmac-admin

fix(ci): improve secret scanning robustness with file-by-file processing
  .github/workflows/main-ci.yml
Owners: @dotmac-admin
