Repository michaelayoade/dotmac_framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotmac-admin, @platform-maintainers, @platform-architecture-team, @devops-team, @business-logic-team, @api-team, @frontend-team, @isp-framework-team, @management-platform-team, @qa-team, @database-team, @security-team, @documentation-team

Update security and exception handling components
  src/dotmac/core/exceptions.py
  src/dotmac_management/user_management/adapters/isp_user_adapter.py
  src/dotmac_shared/security/unified_csrf_strategy.py
Owners: @dotmac-admin, @platform-maintainers, @management-platform-team, @platform-architecture-team, @security-team

fix(ci): resolve Security Gates failures in CI/CD pipeline
  src/dotmac_shared/security/unified_csrf_strategy.py
Owners: @security-team, @platform-architecture-team

remove pre-commit hooks - use CI/CD ruff linting instead
  .pre-commit-config.yaml
Owners: @dotmac-admin, @platform-maintainers

fix(security): resolve Security Gates workflow failures
  .github/workflows/security.yml
Owners: @devops-team, @qa-team, @platform-architecture-team

fix(ci): update CI/CD workflows for security and testing improvements
  .github/workflows/main-ci.yml
  .github/workflows/security.yml
Owners: @devops-team, @qa-team, @platform-architecture-team

fix(ci): resolve workflow syntax error - duplicate frontend job names
  .github/workflows/main-ci.yml
Owners: @devops-team, @qa-team, @platform-architecture-team

coolify docker compose
  bandit-results.txt
  docker-compose.yaml
Owners: @dotmac-admin, @platform-maintainers

correct exemption
  .github/workflows/exception-standards.yml
  .github/workflows/main-ci.yml
  docker-compose.yaml
Owners: @devops-team, @qa-team, @platform-architecture-team, @dotmac-admin, @platform-maintainers

.github/CODEOWNERS:

# DotMac Framework Code Owners
# This file defines who should review code in different parts of the repository
# Optimized for fast PR reviews with backup reviewers and auto-assignment

# Global fallback - all files require review
* @dotmac-admin @platform-maintainers

# SaaS Automation - High Priority (Fast Track Review)
/src/dotmac_management/services/fast_deployment_optimizer.py @platform-architecture-team @devops-team
/src/dotmac_isp/modules/resellers/realtime_usage_billing.py @business-logic-team @api-team  
/src/dotmac_management/api/v1/saas_automation.py @api-team @platform-architecture-team
/src/dotmac_isp/modules/resellers/portal_interface.py @frontend-team @business-logic-team

# Platform-specific ownership with backup reviewers
/src/dotmac_isp/ @isp-framework-team @business-logic-team
/src/dotmac_management/ @management-platform-team @platform-architecture-team  
/src/dotmac_shared/ @platform-architecture-team @devops-team

# Infrastructure and deployment
/docker-compose*.yml @devops-team @platform-architecture-team
/scripts/ @devops-team @qa-team
/.github/ @devops-team @platform-architecture-team

# Critical configuration files require admin review
docker-compose*.yml @dotmac-admin
.github/workflows/ @dotmac-admin
*/requirements*.txt @dotmac-admin
*/alembic/ @database-team @dotmac-admin
*/migrations/ @database-team @dotmac-admin

# Security-sensitive files (Priority Review)
.env* @security-team @dotmac-admin
*/core/security* @security-team @platform-architecture-team
*/core/auth* @security-team @business-logic-team
**/security/** @security-team @platform-architecture-team
**/*security*.py @security-team @business-logic-team
**/*auth*.py @security-team @business-logic-team

# Documentation
/docs/ @documentation-team
README.md @documentation-team
*.md @documentation-team

# Frontend components
/frontend/ @frontend-team

# Database schemas and models
*/models/ @database-team
*/schemas/ @database-team @api-team
*/alembic/versions/ @database-team

# API endpoints
*/api/ @api-team
*/routers/ @api-team

# Core business logic
*/services/ @business-logic-team
*/modules/ @business-logic-team

# Testing and quality assurance (Fast Track for CI/CD)
*/tests/ @qa-team @business-logic-team
/scripts/validate_* @qa-team @devops-team
/scripts/container_* @qa-team @devops-team  
/.github/workflows/ @devops-team @qa-team @platform-architecture-team
pytest.ini @qa-team @devops-team
**/*test*.py @qa-team @business-logic-team

# Package and dependency management (Dependabot auto-merge eligible)
pyproject.toml @platform-architecture-team @devops-team
requirements*.txt @devops-team @security-team
package*.json @frontend-team @devops-team
**/Dockerfile @devops-team @platform-architecture-team
